@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Dark Mode */
  --color-blue-900: hsl(209, 23%, 22%);
  --color-blue-950: hsl(207, 26%, 17%);

  /* Light Mode */
  --color-grey-950: hsl(200, 15%, 8%);
  --color-grey-400: hsl(0, 0%, 50%);
  --color-grey-50:  hsl(0, 0%, 99%);

  /* White Color */
  --color-white:    hsl(0, 100%, 100%);
}
